.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-section__heading {
  @extend .visually-hidden;
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features-list__feature {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features-list__icon-bg {
  background-color: $filter-button-color;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.feutures-list__feature-name {
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list__feature-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
